* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(226, 226, 226);
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
#box-add {
  border: 1px solid red;
  height: 150px;
  width: 800px;
}
#box-check {
  margin-top: 20px;
  border: 1px solid green;
  height: 200px;
  width: 800px;
}
.box-check__btn {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
}
.box-check__btn-next {
  background-color: #337ab7;
  border-color: #2e6da4;
  color: #fff;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.hidden-element {
  visibility: hidden;
}
